.events h1 {
	text-align:center;
	font-size:48px;
	padding-bottom:20px;
}

.event-block {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
	padding-bottom: 10px;
	margin-bottom:25px;
	display:block;
	position:relative;
	z-index: 2;
}

.event-block::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #afd1e1;
  z-index: -1;
  bottom: 0;
  left:0;
  transform-origin: left bottom;
  transform: skewY(1deg);
}

.event-block::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #d4cfcd;
  z-index: -1;
  bottom: 0;
  left:0;
  transform-origin: top left;
  transform: skewY(-1deg);
}

.event-block-o {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-bottom:25px;
	display:block;
	position:relative;
	z-index: 2;
}

.event-block-o::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #afd1e1;
  z-index: -2;
  bottom: 0;
  left:0;
  transform-origin: right bottom;
  transform: skewY(1deg);
}

.event-block-o::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #d4cfcd;
  z-index: -1;
  bottom: 0;
  left:0;
  transform-origin: top right;
  transform: skewY(-1deg);
}

@media (min-width: 720px) {
	.event-block {
	margin-right: 15%;
	margin-left: 15%;
}
.event-block-o {
	margin-right: 15%;
	margin-left: 15%;
}
}

.event-fill{
	width:100%;
	position:relative;

}
.event-right{

	position:relative;
	margin-left:10%;
}
.event-left{
	width:40px;
	height:40px;
	float:left;
	position:relative;
	z-index:2;
}
.event-desp{
	font-size:15px;
	position:inherit;
	margin-top: 10px;
	padding-top:10px;
	text-align:justify;
}

.event-heading h3{
	font-weight:bold;

}
.event-details{
	font-size:medium;
	text-align:left;
}

.event-date-month{
	color:#e84646;
	font-size:22px;
	text-align:center;


}
.event-date-num{
	color:#292a2b;
	font-size:28px;
	font-weight:400;
	text-align:justify;
	margin-top: -15px;
	letter-spacing:1px;
	padding-left:0px;
	padding-top:4px;
	text-align:center;


}


.event-heading h3{
	font-weight:500;
	font-size:18px;
	color:#121212;

}
.event-details{
	font-size:12px;
	color:#365b88;
	padding-top:10px;
}
.event-details-time{
	padding-right:20px;
}


.animatable {

  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations  */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;
  animation:moveUp 3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation:moveUp 3s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-animation:moveUp 3s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-animation:moveUp 3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-animation:moveUp 3s cubic-bezier(0.4, 0, 0.2, 1);


  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes moveUp {
	0% {
		opacity: 0.8;
		-webkit-transform: translateY(40px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes moveUp {
	0% {
		opacity: 0.8;
		-moz-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes moveUp {
	0% {
		opacity: 0.8;
		-o-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 0.8;
		transform: translateY(40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}



