/* Experience page */

.form-group .required .control-label:after {
  content:"*";color:red;
}

.experience-content .userdetails .setnumber{
	border-radius: 50%;
    height: 70px;
    width: 70px;
    z-index: 1;
    background-color: #e6e86a;
    font-size: 20px;
    vertical-align: middle;
    margin-top: -53px;
    text-align: center;
    padding-top: 19px;
    margin-left: 20%;
}

/*
.experience-content .userdetails .personalinfo{
margin: 20px;
background-color: #afc2d4;
border-radius: 5px;
padding: 10px;
height: 200px;
}
*/

.experience-content .userdetails .personalinfo{
	margin-top : 10%;
	margin-left: 10%;
    margin-bottom: 10%;
	background-color: white;
  #border: 1px solid blue ;
  height: 170px;
  width: 222px;
  box-shadow: 5px 5px #afc2d4;
}


.experience-content .userdetails .personalinfo .basic_details{
	margin: 5%;
	text-transform: uppercase;
	padding-left: 5%;
	font-weight: bold;
    font-family:sans-serif;
}


.experience-content .userdetails .personalinfo .basic_details .name{
	margin-left: 5%;
}


.experience-content .userdetails .personalinfo .basic_details .deptname{

}


.experience-content .userdetails .personalinfo i {
color: grey;
font-size: 66px;
margin:15%;

}
.experience-content .userdetails .personalinfo .basic_details i{
font-size: 20px;
color: black;
margin:2%;
}


.experience-content .mid-content{
	padding: 2%;
	padding-left: 20px;
	/*padding-right: 30px;*/
	margin: 4%;
	margin-top: 2%;
	/*margin-left: 15px;*/
	background-color: white;
	height: auto;
	min-height: 200px;
	/*width: 900px;*/
	box-shadow: 0 3px 5px rgba(0,0,0,0.16),0 3px 5px rgba(0,0,0,0.23)
}
.experience-content .mid-content .section--left {
    font-size: 1.8rem;
    color: #ababab;
    word-wrap: break-word;
    /*line-height: 1rem;*/
    /*margin-top: 0.5rem;*/
    /*width: 20%;*/
    /*margin-right: 1.5rem;*/
    text-align: left;
    /*display: inline-block;*/
    /*width: calc(100% - 12rem);*/
}
.experience-content .mid-content .section--right {
    display: inline-block;
    vertical-align: top;
    /*word-wrap: break-word;*/
    /*padding: 0.5rem;*/
    /*margin-right: 2rem;*/
    /*line-height: 2.5rem;*/
    /*margin-left: 20rem;*/
    /*margin-top: -23px;*/
    font-size: 1.95rem;
    font-family: Arial;
    max-height: 60%;
    overflow-y: auto;
}

@media only screen and (max-device-width: 480px)
.section--right > p {
	font-size:medium;
}

.basic_interviewinfo div.row{
	padding-bottom: 15px;
	/*margin-right: 10%;*/
}
.rounddetails div.row{
	padding-bottom: 15px;
	/*margin-right: 10%;*/
}

.experience-content .mid-content .title {
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    padding-top: 0;
}

.experience-content .mid-content .section-title {
    padding: 0.1rem 0.8rem;
    background-color: #000;
    color: #fff;
}
.experience-content .mid-content .rounddetails h3{
margin-top: 0;
font-weight: bold;
}

.experience-content .mid-content .rounddetails .border {
    border: 1px solid #d4d4d4;
    padding: 2%;
	font-family: sans-serif;
	margin:15px;
}
background-color:white;





}
.experience-content .mid-content .rounddetails {

}
/* End of Experience page */


/* Edit_Profile Page */
.profile_content{
	padding: 2%;
	padding-left: 40px;
	margin: 4%;
	margin-top: 3%;
	background-color: white;
	height: auto;
	min-height: 200px;
	width: 700px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.16),0 3px 5px rgba(0,0,0,0.23)
}

.profile_content_new{
	padding: 2%;
	/*padding-left: 40px;*/
	margin: 4%;
	margin-top: 3%;
	background-color: white;
	height: auto;
	/*min-height: 200px;*/
	/*width: 700px;*/
	box-shadow: 0 3px 5px rgba(0,0,0,0.16),0 3px 5px rgba(0,0,0,0.23)
}

.editprofile_user{
	margin-top : 10%;
	margin-left: 10%;
	background-color: white;
    /*border: 1px solid blue ;*/
    height: 130px;
    width: 80%;
    box-shadow: 5px 5px #afc2d4;
}
.editprofile_user i {
color: grey;
font-size: 100px;
margin:15%;

}

.editprofile_user .basic_details{
	margin: 5%;
	text-transform: uppercase;
	padding-left: 40%;
	padding-top: 5%;
	font-weight: bold;
}
.editprofile_user .basic_details i{
font-size: 20px;
color: black;
margin:2%;
}

.editprofile_button{
	margin-left	: 10%;
	margin-top: 5%;
	width:80%;
	color:white;
	text-transform: uppercase;
	background-color: #181F45;
}

.edit_options ul{
list-style: none;
padding: 0;
margin: 0;
}

/* ENd of edit profile page */



body{
background-color: #EFEFEF ;
 max-width: 100%;
    overflow-x: hidden !important ;
}

.container-fluid{
background-color: #EFEFEF ;

}
/* CSS from ambition box */

.main-menu {
    background-color: #181F45 /*#10152E*/;
    position: fixed;
    top: 0;
    z-index: 1;
    color: #fff;
    width: calc(100%);
    opacity: 1;
    height: 5.5rem;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
    padding: 0.3rem 0;
    margin-left: -1%;
}

.main-menu .search-company {
    box-shadow: none;
    border: none;
    margin-top: 4%;
    #padding: 0.3rem 1rem;
    color: #efefef;

    background-color: rgba(255,255,255,0.4);
    font-size: 1.4rem;
    width: auto;
    text-transform: uppercase;
    font-family: "MontserratRegular","Helvetical";
    transition: all 0.8s ease;

    margin:8px;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}

input.search-company::-webkit-input-placeholder {
  color: #efefef;
 text-transform: capitalize;
 font-weight: 500;
}

.main-menu a {
    text-transform: uppercase;
    font-family: "MontserratRegular","Helvetical";
    color: inherit;
    font-size: 1.4rem !important;
    padding: 0;
    letter-spacing: 1px;
    display: inline-block;
}

.showMenu {
    width: 600px;
}


.dropbtn,button	{
    text-transform: uppercase;
    font-family: "MontserratRegular","Helvetical";
    color: white;
    margin: 0 0.8rem;
    font-size: 1.4rem !important;
    padding: 0;
    letter-spacing: 1px;
    vertical-align: middle;
    display: inline-block;
    /*line-height: 2.5rem;*/
}

.main-menu .left-section {
    display: inline-block;
    float: left;
}
.main-menu .right-section {
    display: inline-block;
    float: right;
    margin-right: 10px;
}

.main-menu .right-section .highlight:hover {
    background-color: #FFC107;
    color: #181F45;
}
.main-menu .right-section	 .highlight {
    border: 1px solid #FFC107;
    padding: 0.25rem 0.5rem;
    transition: all 0.5s ease;
    line-height: 1.2rem;
    color: #FFC107;
 }

 /* This is to remove the underline of anchor tags in main menu */
 .main-menu a,button{
 text-decoration: none !important;
 }

 /* The user menu on click of user */
 .main-menu .user-menu {
    display: none;
    padding: 0;
    position: absolute;
    right: 0rem;
    color: #000;
    text-transform: uppercase;
    font-family: "MontserratRegular","Helvetical";
    top: 5rem;
}

.main-menu .user-menu .triangle {
    width: 0;
    height: 0;
    position: relative;
    margin: auto;
    border-left: 0.7rem solid transparent;
    border-right: 0.7rem solid transparent;
    border-bottom: 0.7rem solid #f2f2f2;
}

 .main-menu .user-menu a:hover {
    background-color: #d4d4d4;
}
.main-menu .user-menu a {
	font-weight: bold;
    color: inherit;
    display: block;
    font-size: 1.35rem !important;
    background-color: #f2f2f2;
    padding: 1rem 3rem 1rem 1.5rem;
    border-bottom: 1px solid #d4d4d4;
}
 .main-menu .user-menu a i {
    margin-right: 1rem;
    font-size: 1.1rem;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 /* End of usermennu */



 .cover-image {
    height: 15rem;
}
.cover-image {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    background-color: #2a3361 /*#181F45*/;
}
.cover-image {
    height: 13rem;
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
    position: relative;
}

 .container-fluid>.navbar-header{
background-color: rgb(24, 31, 69);
 }
.cover-image .h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: "MontserratRegular","Helvetical";
    font-size: 3rem;
    margin-top: 4rem;
    line-height: 3rem;
    vertical-align: middle;
    font-weight: normal;
}

.cover-image .layer {
    color: #fff;
    text-align: center;
    padding: 0 0.5rem;
    height: inherit;
    top: 0;
    position: absolute;
    width: calc(100% - 1rem);
}
.layer {
    padding: 2.5rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    color: #fff;
    font-size: 0.9rem;
}


 /* End of CSS from ambition box */

.dropbtn {
    #background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 6px;
    border: 10px;
    cursor: pointer;

}


.modal-header, h4{
      background-color: #181f45 !important;
      color:#909090  !important;
      text-align: center;
      font-size: 1.2em;
  }
  .modal-footer {
      background-color: #181f45;
      padding:27px !important;
  }

.modal-header h3{
	margin:0px;
}
.modal-footer p{
	margin:0px;

}

.modal-dialog .btn{
	margin:0 auto;
color:#213a73;
	opacity:0.5;
        background-color:#8ec3d8;
        }


.modal-body {
	background-color:#ffffff ;
	padding:20px 20px !important;
}
.close{
    background-color: black;
    font-size: 100px;
}

#login_content{
	margin-left: 20%;
	width: 300px;
}
#register_content{
width: 80%;
margin-left: 10%;
}
#forgotpass_content{
	margin-left: 20%;
	width: 300px;
}


.dropdown_here {
    position: absolute;
    display: inline-block;
}


.navbar > ul > li > ul {
list-style: none;
height:auto;
max-height: 600px;
column-count: 1;
column-gap: 0px;

position: absolute; /* change this */
column-fill:auto;

}

.navbar > ul > li > ul > li {
display: none;
margin-left:0px;
}


.navbar > ul > li.dropdown_here:hover > ul > li {
height:55px;
width:120px;
margin-left:0px;

background-color: #181F45;
color:white;
display:block;

}
.navbar > ul > li.dropdown_here:hover > p ,.navbar > ul > li > p > a:hover
{
	color:#FFC107 !important;
}
.navbar > ul > li.dropdown_here:hover > ul > li > a{
font-size:12px !important;
}

.navbar > ul > li.dropdown_here:hover > ul > li > a:hover{
color:#FFC107 !important;
}




/* Dynamic dropdown */
/*
.dropdown-content{
    #border   : 1px green solid;
    //use easyclearing on div (or this workaround)
    overflow :scroll;
    height   : auto;
    position: absolute;
    #margin-top: 2%;
}

//.dropdown-content ul + * { clear: both; }

// Rotate ul
.dropdown-content ul {
   float : left;
   height : 420px !important ; // (30 ) * 5

   -webkit-transform : rotate(-90deg);
   -moz-transform : rotate(-90deg);
   -ms-transform : rotate(-90deg);
   -o-transform : rotate(-90deg);
   transform : rotate(-90deg);
}

.dropdown-content ul li:nth-child(5n+1) { clear: right; }

.dropdown-content ul li {
   width      : 80px !important;
   height     : 80px !important;
   float      : right;
   margin     : 2px;
   #background : #ccc;

   -webkit-transform-origin : 50% 50%;
   -moz-transform-origin : 50% 50%;
   -ms-transform-origin : 50% 50%;
   -o-transform-origin : 50% 50%;
   transform-origin : 50% 50%;

   -webkit-transform : rotate(90deg);
   -moz-transform : rotate(90deg);
   -ms-transform : rotate(90deg);
   -o-transform : rotate(90deg);
   transform : rotate(90deg);
}
*/

/* End of Dynamic dropdown */


#header1
{
	background-color: #FFFFFF;
}


#content1
{
	background-color:#FFFFFF;
}

#name
{
	font-family:Tahoma;
	color:black;
margin-top:5%;
	margin-left:0%;
}

#sub_head
{
	font-family:Tahoma;
	color:black;
	margin-top:-2%;
	margin-left:37.5%;
	margin-bottom:1%;
}

.main-menu
{
	color:white;
}

#nav1 p,button
{
	 #background-color:#e8e8e8 /*#28B699 */;
	font-size:150%;
    margin-left:5%;

    padding: 10px	;
    border-radius : 4px 4px 0 0;
}
#nav1 button{
	 text-transform: uppercase;
    font-family: "MontserratRegular","Helvetical";
    color: inherit;
    margin: 0 0.8rem;
    font-size: 1.4rem !important;
    padding: 0;
    letter-spacing: 1px;
    vertical-align: middle;
    display: inline-block;
    line-height: 2.5rem;
	border:none;
	background-color: inherit;
	margin: 10px	;}
/*
#nav1 p:hover
{
	background-color: 	#DEDEDE;
}

#nav1 p:active
{

	background-color: 	#DEDEDE;
}
*/
.glyphicon {
    font-size: 20px;
	color:white;
}

table td {
  box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color: white !important;
}

#linkdata a
{

	color:#008080 ;
}
#linkdata a:hover
{
	color:#004D4D;
}
/*
.nav
{
	margin-left:10%;
}
*/
#company_name a
{
	font-size:20px;
}
#company_name a:visited
{
	color:purple;
}
.fa
{
font-size: 50px;
}

/* For glyphicon in input boxes */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .fa{
  position: absolute;
  padding: 10px;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* End of glyphicons n input boxes ----- */


/* Edit profile */
.profile_content
{
padding-top : 5px;
}
.profile_content .row
{
padding-top : 15px;
}



/* Experience */
.entry-header .entry-title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: normal;
    margin-top: 20px;
}
.entry-content, .entry-summary, .mu_register {
    line-height: 19px;
    font-size: 15px;
}




.post-date
{
	color: #aaa;
	font-size: 19px;
	float:right;
	margin-right:10px;
}

.entry-summary
{
	/*line-height: 1.714285714; Shubham*/
	line-height: 19px;
	font-size: 13px; /*Shubham*/
}


.expert{
    background: #FF0000 none repeat scroll 0% 0%;
}

footer.entry-meta {
	/*margin-top: 24px;*/
	font-size: 13px;
	line-height: 1.846153846;
	color: #757575;
}

.entry-meta > span a {
	color: #333333;
    padding: 2px;
	text-decoration:none;
}
.entry-meta > span p {
	color: #333333;
    padding: 2px;
	text-decoration:none;
}

.single-author .entry-meta .by-author {
	display: none;
}

.entry-meta {
		position: static;
	}

footer.entry-meta,
	footer.entry-meta a {
		color: #444;
		font-size: 10pt;
	}

footer.entry-meta,
	.singular .comments-title {
		margin: 0;
		width: 100%;
	}

.entry-meta > span a {color: #060 !important; }
.entry-meta > span a:visited {color: #060 !important; }

/* ..... */

.margin-top
{
     margin-top: 15px;

}
.vnitlogo
{

     padding-top: 12%;

}
/* Horizontal line */

hr
{
height: 20px;
    border: 2px;
	box-shadow: 0 10px 10px -10px black inset;
}
/* */


/* CSS for toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF0000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
z-index: 0 !important ;
}









.success_popup
{
	margin-top:30%;
	margin-left:20%;
	width:60%;
}


.success_popup .description{
	font-size:20px;

}



.contribute_form {
    padding: 2%;

    margin: 4%;

    margin-top: 0px;
    background-color: white;
    height: auto;
    min-height: 200px;

    box-shadow: 0 3px 5px rgba(0,0,0,0.16),0 3px 5px rgba(0,0,0,0.23);
}


.profile_content .btn {
color:#213a73;
	opacity:0.5;
        background-color:#8ec3d8;
 }



input .profile_content .btn {
color:#213a73;
	opacity:0.5;
        background-color:#8ec3d8;
        height: 45px !important;
 }


.accept_company_request_box{
	padding: 2%;
	padding-left: 30px;
	padding-right: 30px;
	margin: 4%;
	margin-bottom: 0;
	margin-top: 2%;
	margin-left: 15px;
	background-color: white;
	height: auto;
	box-shadow: 0 3px 5px rgba(0,0,0,0.16),0 3px 5px rgba(0,0,0,0.23)
}


.footer-main-wrap {
	margin-bottom: 0px !important;
    color: #bfbfbf;
    background-color: #10152E;
    width: 100%;
    padding-top: 7rem;
    display: table;
    padding-bottom: 10%;
    text-align: center;

    font-family: "ClearSansLight","Helvetical";

}
@media screen and (max-width: 732px){
    #login_content{
        margin-left: 10%;
    }
}
