
/* ------------------------------------- */
/* @Import & Reset  ................... */
/* ------------------------------------- */
@import url(ionicons.min.css);
@import url(bootstrap.min.css);
@import url(magnific-popup.css);
@import url(flexslider.css);
@import url(animsition.min.css);
@import url(default-skin/default-skin.css);
@import url(jquery.mCustomScrollbar.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;


  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }


table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------- */
/* Generic styles ................... */
/* ------------------------------------- */
@font-face {

  src: url(../fonts/got.ttf) format("truetype");
}
body {

  font-size: auto;
  width:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  font-family:arial;
  }


#leftSide {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  overflow:hidden;
}

#scrollbutton{
  border: 0;
  color: #fff;
  position: absolute;
  display: flex;
  top:32%;
  left: 49%;
  height: 50px;
  font-size:30px;
  z-index: 3;
}
#scrollbutton:hover{
  cursor: pointer;
  color:#ffc107;
  font-size:40px;
}
#scrollbutton2{
  border: 0;
  color: #fff;
  position:absolute;
  display:contents;
  font-size:30px;
  display: block;
  top: 40%;
  left: 5%;
  height: 50px;
  z-index:3;
}

#intro {
  width: 60%;
  margin: auto;
}
#Sides{
width:100%;
  position:absolute;
  display:block;
  overflow:hidden;
}

.carousel-inner img {
  width:100%;
  height:100%;

}
#rightSide {
  position:absolute;
  top: 0;
  left: 100%;
  width:100%;
  height: 100%;
  height: -webkit-fill-available;
  background: #fff;
  overflow-y:auto;


}


/* ------------------------------------- */
/* Home ................... */
/* ------------------------------------- */
#home, #homeCenter {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #efefef;
}

#head {
  text-align: center;
}

.h-content {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 2;
  width: 100%;
  padding: 10px 10%;
  color: #fff;
  font-size:30px;
  background-color:rgba(24, 31, 69,0.5);
  bottom:0;
  top:28%;
}
.h-content h1{
  top:30%;
  font-weight:bold;
  font-size:50px;
}
.h-content-fullwidth {
  position: absolute;

  top: 0vh;
  width: 100%;
  padding: 10px 10%;
  color: #fff; }
  #intro{
    padding-top:20px;
    letter-spacing: 1px;
    font-size:25px;
    padding-bottom:10px;
  }
@media (max-width: 768px) {
  .h-content {
    top:0;
    display:block;
  }
  .h-content h1{
    padding-top:15%;
    font-size:45px;
  }
  .h-content #intro {
    font-size: 18px;
  }

}
#homeCenter .h-content {
  text-align: center; }

.main-logo {
  position: absolute;
  top: 8%;
  max-width: 150px;
  left: 10%; }

#homeCenter .main-logo {
  left: calc(50% - 100px); }


/* ------------------------------------- */
/* Project ................... */
/* ------------------------------------- */


.price {
  background: #1d2328; }


#golden{
  color:#ffc107;
  padding:5px;
}
.project {
  background: #f5f5f5;
  display:grid;
}
  .project .item {
    padding-left: 7.5px;
    padding-right: 7.5px;
    overflow: hidden;
    margin-bottom: 0px;
    cursor: pointer;
    height: auto;
  }
  .project .item img{
    width:100%;
    transition:all 0.9s;

  }
  .project .item:hover img{
    transform:scale(1.1);
    filter:blur(5px);

  }
  .project .item:hover .caption{
    background-color:rgba(24, 31, 69, 0.39);
  }

   .project .item .caption {
      position: absolute;
      width: 100%;
      overflow: hidden;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 2s;
      background: rgb(247, 247, 247, 0);
      top: 0;
      height:-webkit-fill-available;
      height:-moz-fill-available;


    }
      .project .item .caption .photo-details {
        position: absolute;
        top:2%;
        margin-bottom:auto;
        text-align:center;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.9s;
        display:block;
        opacity:0;

      }
      .project .item .caption .photo-details:hover{
        opacity:1;
      }
        .photo-details #photo-heading {
          padding: 0;
          top:0;
          font-size:35px;
          color:#f5f5f5

        }
        .photo-details p{
          text-align:center;
          margin-left:8%;
          margin-right:8%;
          font-size:16px;
          color:#fff;
          padding-bottom:20px;

        }

/* ------------------------------------- */
/* Pricing ................... */
/* ------------------------------------- */
.pricing {
  width: 100%;
  padding: 10% 8%;
  background: #181f45;
  color: #fff; }


/* ------------------------------------- */
/* 8. Media Queries .................... */
/* ------------------------------------- */
@media only screen and (min-width: 2000px) {
  body {

    font-size: 1.6em;
    line-height: 1.6; }

  .main-logo {
    max-width: 300px; }

  #homeCenter .main-logo {
    left: calc(50% - 100px); }

  .project .item .caption {
    bottom: -4.375em;
    height: 4.375em; }
    .project .item .caption .photo-details {
      padding: 0 0.9375em;
      bottom: 0.625em; }

  .portfolio .item .caption .photo-details {
    padding: 0 0.9375em;
    bottom: 0.625em; }
}
@media only screen and (min-width: 2500px) {
  body {

    font-size: 2em;
    line-height: 1.6; } }
@media only screen and (max-width: 1600px) {
  .instagram_feed li {
    width: 33.33% !important; } }
@media(min-width:1024px) and (max-width:1300px){
  #scrollbutton{
  top:45%;
  }
}
@media only screen and (max-width: 1024px) {
  #leftSide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

  }
body{
  overflow-y:scroll;
}
#scrollbutton {
  display: none;
}
#scrollbutton2{
  display: none;
}

#subhead {
  display: none;
}


  #rightSide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  .project .project_info {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0; }

  .full-height {
    height: 80vh; }

  .mid-height {
    height: 400px; }

  #countdown address {
    padding: 0; } }
@media only screen and (max-width: 768px) {
  body {

    font-size: 1em;
    line-height: 1.6; }

  #contact_form .input-name, #contact_form .input-email, #contact_form .input-message, #contact_form .submit {
    width: 100%; }

  .launch-date {
    height: 140px; }

  address span {
    padding: 5px 0; }

  p {
    font-size: 1em; } }


@media screen and (max-device-width: 740px) and (orientation: landscape) {
  body {

    font-size: 0.75em;
    line-height: 1.6; }

  #leftSide {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden; }

  #rightSide {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: transparent;
    overflow-x: hidden; }

  .h-content {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    /*padding: 10px 10%;*/
    color: #fff; }

  .main-logo {
    position: relative;
    top: 8%;
    max-width: 140px;
    margin-top: 20px; }
 }
@media only screen and (max-width: 480px) {
  body {

    font-size: 0.75em;
     }
  #leftSide{
    height:inherit;
  }
  .h-content #intro{

    font-size:16px;
    width:92%;

  }
  .h-content h1{

    font-size:38px;
    padding-top:10%;
  }
}

@media only screen and (max-width: 320px) {
  body {

    font-size: 0.625em;
     }
#leftSide{
  height:inherit;
}
.photo-details #photo-heading {
          padding: 0;
          margin: 8px;
          font-size:20px;

        }
        .photo-details p{
          text-align:center;
          margin-left:10px;
          margin-right:10px;
          font-size:12px;
          margin-bottom:8px;

        }
}

