@charset "UTF-8";
.work{
    margin-bottom:-20px;
    margin-top: -5px;
    position: relative;
    background-image:url("../IMG/work.jpg");
    background-attachment:fixed;
    background-position:center;
    background-size:cover;

}
.work .work-heading{
    padding-top:20px;
    padding-bottom: 20px;
    text-align:center;
    color:#121212;
    font-size:50px;
    background-color: rgba(255, 255, 255, 0.6);

}
.work .panel-group{

    background-color: rgba(255, 255, 255, 0.6);
    width:100%;
    padding-bottom:0px;
    padding-left:40px;
    padding-right:40px;
}
.work .panel .panel-heading{
    background-color:#1a2e40;
    border-radius:0px;
    padding:0px;
    display:block;

}
.work .panel .panel-heading a{
    background-color:#1a2e40;
    border-radius:0px;
    border:0px;
    display:block;
    padding:10px;

}
.work .panel-body{
    padding-top: 20px;
    padding-left:30px;
}
.work .panel{
    background-color: rgba(26, 46, 64, 0.18);
    border-radius:0px;
    border:none;
}
.work .row .col-sm-6{
    padding:0px;
}
.work .row .col-md-4{
    padding:0px;
}

@media (max-width: 768px) {
    .work {
        margin-top: -7px;
    }
}

/*gallery section*/
* { box-sizing: border-box; }
.grid {
  background: #ddd;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width:25%;

}
.grid-item:hover{
    cursor:pointer;
    opacity:0.9;

}

.grid-item img {
  display: flex;
  width:100%;
}

.grid-item--gigante {

  width:50%;
}

.grid-item-img--gigante{
    width:100%;
}

@media (max-width:768px){
  .grid-item{
    width:33.33%
  }
  .grid-item--gigante{
    width:66.67%;
  }
}