
  <!-- LFORGOT PASS Modal -->
  <div class="modal fade" id="myforgotModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
       
        <!-- Modal Header -->
         <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3><span class="glyphicon glyphicon-lock"></span> Forgot Password</h3>
        </div>
        <!-- Modal header finished -->

        <!-- Modal Body -->
        <div class="modal-body" style="padding:40px 50px;">


{% csrf_token %}
<form method="post" name="fp_form" action="" onsubmit="return validate_fp()">
{% csrf_token %}
  		
    <div class="form-group">
    
            <div class="form-group">
            <label for="email">Email id &nbsp</label>
                          <div class="inner-addon left-addon">
                            <span class="fa fa-user"></span>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Enter email id">			    <font color='red'> <DIV id="emr"> </DIV> </font>
                          </div>
            </div>
     
            <div class="form-group">
                  <label for="clg_id"><span class="glyphicon"></span>College ID no.</label>
                  <input name="clg_id" type="text" class="form-control" id="clg_id" placeholder="15616"/>
		   <font color='red'> <DIV id="cidr"> </DIV> </font>
            </div>
    
                 <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>Send Email</button>
    
    </div>
		
</form> 

        </div>
         <!-- Modal body finished -->
        
        <!-- Modal footer -->
        <div class="modal-footer">
      
        </div>
        <!-- Modal footer finished -->

      </div>
        <!-- Modal content finshed -->
</div>
</div>
<!-- Forgot modal finished -->


  <!-- LFORGOT PASS Modal -->
  <div class="modal fade" id="myforgotModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
       
        <!-- Modal Header -->
         <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3><span class="glyphicon glyphicon-lock"></span> Forgot Password</h3>
        </div>
        <!-- Modal header finished -->

        <!-- Modal Body -->
        <div class="modal-body" style="padding:40px 50px;">


{% csrf_token %}
<form method="post" name="fp_form" action="" onsubmit="return validate_fp()">
{% csrf_token %}
  		
    <div class="form-group">
    
            <div class="form-group">
            <label for="email">Email id &nbsp</label>
                          <div class="inner-addon left-addon">
                            <span class="fa fa-user"></span>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Enter email id">			    <font color='red'> <DIV id="emr"> </DIV> </font>
                          </div>
            </div>
     
            <div class="form-group">
                  <label for="clg_id"><span class="glyphicon"></span>College ID no.</label>
                  <input name="clg_id" type="text" class="form-control" id="clg_id" placeholder="15616"/>
		   <font color='red'> <DIV id="cidr"> </DIV> </font>
            </div>
    
                 <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>Send Email</button>
    
    </div>
		
</form> 

        </div>
         <!-- Modal body finished -->
        
        <!-- Modal footer -->
        <div class="modal-footer">
      
        </div>
        <!-- Modal footer finished -->

      </div>
        <!-- Modal content finshed -->
</div>
</div>
<!-- Forgot modal finished -->


  <!-- LFORGOT PASS Modal -->
  <div class="modal fade" id="myforgotModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
       
        <!-- Modal Header -->
         <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3><span class="glyphicon glyphicon-lock"></span> Forgot Password</h3>
        </div>
        <!-- Modal header finished -->

        <!-- Modal Body -->
        <div class="modal-body" style="padding:40px 50px;">


{% csrf_token %}
<form method="post" name="fp_form" action="" onsubmit="return validate_fp()">
{% csrf_token %}
  		
    <div class="form-group">
    
            <div class="form-group">
            <label for="email">Email id &nbsp</label>
                          <div class="inner-addon left-addon">
                            <span class="fa fa-user"></span>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Enter email id">			    <font color='red'> <DIV id="emr"> </DIV> </font>
                          </div>
            </div>
     
            <div class="form-group">
                  <label for="clg_id"><span class="glyphicon"></span>College ID no.</label>
                  <input name="clg_id" type="text" class="form-control" id="clg_id" placeholder="15616"/>
		   <font color='red'> <DIV id="cidr"> </DIV> </font>
            </div>
    
                 <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>Send Email</button>
    
    </div>
		
</form> 

        </div>
         <!-- Modal body finished -->
        
        <!-- Modal footer -->
        <div class="modal-footer">
      
        </div>
        <!-- Modal footer finished -->

      </div>
        <!-- Modal content finshed -->
</div>
</div>
<!-- Forgot modal finished -->

