<div class="modal fade" id="my_reg_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content success_popup">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">Registeration Successful!!</h3>
            </div>
            <div class="modal-body">
                <p class="description">Welcome, you can contribute now by logging in.</p></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="my_contribute_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content success_popup"  id="popup_contribute">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">Experience submitted Successfully!!</h3>
            </div>
            <div class="modal-body">
                <p class="description" >You will be notified by an email when your experience is accepted.<p></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cannot_contribute_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content success_popup"  id="popup_contribute">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">Kindly Login !!</h3>
            </div>
            <div class="modal-body">
                <p class="description" >Kindly Login to contribute your experience <p></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="forgotpass_emailsent_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content success_popup"  id="popup_contribute">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel">Link Sent to email</h3>
            </div>
            <div class="modal-body">
                <p class="description" >Kindly check your registered email. Click on link to reset your password <p></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="experience_saved" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content success_popup"  id="popup_contribute">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
               <h3 class="modal-title" id="myModalLabel">Experience Saved</h3>
           </div>
           <div class="modal-body">
               <p class="description" >You can click on <b>CONTRIBUTE</b> to continue writing your experience whenever you want.<p></span>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
 
           </div>
       </div>
   </div>
</div>

